.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 140px 20px;
  font-family: 'Pretendard', sans-serif;
}

.mainImage{
  z-index: 1000;
  width: 100%;
  max-width: 258px; /* 최대 너비 제한 */
  height: auto; /* 비율 자동 유지 */
  object-fit: contain; /* 이미지 비율 보존 */
}

.titleContainer {
  text-align: center;
  margin-bottom: 12px;
}

.mainTitle {
  font-size: 24px;
  font-weight: 700;
  line-height: 160%;
  color: #000000;
  margin: 0;
  z-index: 1000;
}


.joinText {
  margin-top : 60px;
  font-size: 16px;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  color: #1E2024;
  z-index: 1000;
  border: 1.5px solid #1E2024;
  padding: 8px 16px;
  border-radius: 8px;
  display: inline-block;
}

.kakaoButton {
  margin-top: 10px;
  width: 90%;
  max-width: 360px;
  height: 46px;
  background-color: #fee500de;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  z-index: 1000;
  cursor: pointer;
}

.kakaoIcon {
  width: 24px;
  height: 24px;
}
.kakoText{
  font-size: 20px;
  font-weight: 700;
  line-height: 46px;
  color: #000000;
}